*.debug
*.lha
*.map
*.uaem
SimpleMail
SimpleMail-openssl
build-dependencies
ppc-amigaos-*
sas_objects
sas_test_objects
sm
tests/*_unittest
tests/dovecot-2.2.9
tests/dovecot-2.2.9-root
tests/dovecot-2.2.9.tar.gz
tests/imap-profile
tests/test-objs
