*.bak
*.info
*.orig
*.rej
*.uaem
.amissl-done
.amissl4-done
.build-dependencies-done
.cproject
.csettings
.deps
.expat-done
.lha-done
.mui-done
.netinclude-done
.openssl-done
.openurl-done
.project
.settings
Locale
Makefile
Makefile.in
SCOPTIONS
SimpleMail
SimpleMail-openssl
SimpleMail-openssl.debug
SimpleMail-openssl.map
SimpleMail.debug
SimpleMail.map
SimpleMail_rev.i
SimpleMail_rev.s
aclocal.m4
all.gst
amigaos68k-gcc-objects
autom4te.cache
autoscan.log
build-dependencies
config,status
config.h
config.h.in
config.log
config.status
configure
configure
configure.scan
date.h
doxygen
gen_makefile
gen_makefile.lnk
gen_makefile.o
html
imap_unittest.debug
imap_unittest.map
interim-openssl
mmakefile
ppc-amigaos-objs*
ppc-amigaos-test-objs*
ppc-morphos-objs
objs-ncurses
project.index
sas_objects
sas_test_objects
simplemail
simplemail*.lha
sm
smakefile.compile
stamp-h1
xpm
po/simplemail.pot
po/*.pox
