*.o
*_table.c
*_unittest
*stubs.c
.DAV
a.out
dovecot-2.2.9
dovecot-2.2.9-root
dovecot-2.2.9.tar.gz
error
gen
imap-profile
libsimplemail.a
memleaks-*.xml
of-human-bondage.txt
pop3-profile
test-account-profile
test-objs
test-profile
written-with-attachment.eml
written-with-attachment2.eml
written-wrong-address.eml
written.eml
written2.eml
